@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "raleway-regular";
  src: url(../fonts/poppins-regular.woff) format("woff"),
    url(../fonts/poppins-regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "raleway-semibold";
  src: url(../fonts/poppins-regular.woff) format("woff"),
    url(../fonts/poppins-regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "raleway-bold";
  src: url(../fonts/poppins-regular.woff) format("woff"),
    url(../fonts/poppins-regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "playfairdisplay-bold";
  src: url(../fonts/poppins-regular.woff) format("woff"),
    url(../fonts/poppins-regular.woff2) format("woff2");
  font-display: swap;
}

:root {
  --accent: 222, 0, 0;
  --light: 255, 255, 255;
  --dark: 41, 41, 58;

  --step--2: clamp(0.8784rem, 0.4991rem + 1.8965vw, 1.9214rem);
  --step--1: clamp(0.9372rem, 0.5325rem + 2.0235vw, 2.0501rem);
  --step-0: clamp(1rem, 0.5682rem + 2.1591vw, 2.1875rem);
  --step-1: clamp(1.067rem, 0.6063rem + 2.3038vw, 2.3341rem);
  --step-2: clamp(1.1385rem, 0.6469rem + 2.4581vw, 2.4904rem);
  --step-3: clamp(1.2148rem, 0.6902rem + 2.6228vw, 2.6573rem);
  --step-4: clamp(1.2962rem, 0.7365rem + 2.7985vw, 2.8353rem);
  --step-5: clamp(1.383rem, 0.7858rem + 2.986vw, 3.0253rem);
}
@layer base {
  body {
    @apply font-regular;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }

  h1 {
    @apply text-ch1 mb-5 leading-snug;
  }

  h2 {
    @apply text-ch2 mb-4;
  }

  h3 {
    @apply text-ch3 mb-3;
  }

  h4 {
    @apply text-ch4 mb-3;
  }

  h5 {
    @apply text-ch5 mb-3;
  }

  h6 {
    @apply text-ch6 mb-3;
  }
  p {
    @apply text-base;
  }
  img {
    @apply block;
  }

  .banner-card:hover img {
    @apply opacity-50;
  }
}
